* {
  padding: 0;
  margin: 0;
}

.md-36 {
  font-size: 36px;
}

.main {
  margin-top: 32px;
  width: 1000px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .main {
    width: 100%;
    margin: 0;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-body > .row {
  margin: 5px;
}

.campos {
  display: grid;
  gap: 10px;
}

.campos > div > input{
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  /* height: 100px; */
}

input:-webkit-autofill::first-line {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

input:focus {
  outline: none;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapsse;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-btns {
  display: flex;
  height: 48px;
}

.btn {
  border: none;
}

.btn-row {
  display: block;
  margin: auto;
}

.search-add-container {
  display: flex;
  gap: 12px;
}

.search-col {
  flex-grow: 1;
}

#search {
  width: 100%;
  height: 100%
}

.cpf-col,
.celular-col {
  white-space: nowrap;
}

h3 {
  font-size: 1.5em;
  margin: .5em 0 .75em;
  margin-left: auto;
}

table tr {
  border: 1px solid lightgray;
  padding: .35em;
  vertical-align: middle;
}

table th,
table td {
  padding: 2px;
  text-align: center;
  height: 50px;
}

#col-edit-remover:after {
  content: "";
  clear: both;
  display: table;
}

#btn-edit {
  vertical-align: middle;
  text-align: center;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

#btn-remove {
  vertical-align: middle;
  text-align: center;
  width: 50%;
  height: 100%;
}

#btn-remove:hover {
  color: red;
}

#btn-edit:hover {
  color: lightblue;
}

/*1080px*/
@media screen and (max-width: 800px) {
  table {
    border: 0;
    font-size: 16pt;
    width: 100%;
  }
  
  h3 {
    text-align: center;
    font-size: 24pt;
  }
  
  table thead {
    border: none;
    clip: react(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  
  .campos > div > input{
    height: 50px;
    font-size: 30px;
  }
}


.main table {
  margin-top: 32px;
}

.main table thead {
  font-weight: bold;
  
}